<head>
    <link
        href="https://fonts.googleapis.com/css?family=Lobster+Two:400,700|Roboto+Slab|Source+Serif+Pro|EB+Garamond|EB+Garamond:ital@0;1|Libre+Baskerville:ital@0;1|Libre+Baskerville&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="auto-complete.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <link rel="stylesheet" href="style.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<div class="container" id="mainContent">
    <section class="hero is-light">
        <div class="hero-body">
            <div class="columns">
                <div class="column is-6">
                    <a href="/">
                        <h1 class="title is-4" style="font-family: 'Lobster Two', cursive" id="header">The Non-Relational
                            Data Mages
                            <span role={"img"} aria-label={"crystal ball"}>🔮</span></h1>
                            </a>
                        <p class="subtitle" id="tagline">{{message}}</p>
                    
                {{#if isLoggedOut}}
                <div class="dropdown" id="userMenu">
                    <div class="dropdown-trigger">
                        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu2"
                            onclick="toggleDrop();">
                            <span>Login</span>
                            <span class="icon is-small">
                                <i class="fas fa-angle-down" aria-hidden="true"></i>
                            </span>
                        </button>
                    </div>
                    <div class="dropdown-menu" id="dropdown-menu2" role="menu">
                        <div class="dropdown-content">
                            <div class="dropdown-item">
                                <form id="register" action="/api/login" method="post">
                                    
                                        <legend class="subtitle" id="loginLegend"><b>Registered Users</b><br /><small
                                                style="font-size: small;"><em>Of course I remember you...</em></small>
                                        </legend>
                                        <div class="field">
                                        
                                            <label for="email" class="label">E-mail: </label>
                                            <p class="control">
                                            <input class="input" type="email" autocomplete="email" name="email"
                                                id="email" placeholder="E-mail">
                                        </p>
                                        </div>
                                        <div class="field">
                                            <label for="password" class="label">Password: </label>
                                            <p class="control"></p>
                                            <input class="input" type="password" autocomplete="current-password"
                                                name="password" id="password" placeholder="Password">
                                        </p>
                                    </div>
                                    <button class="button is-info is-light" type="submit" id="submit">Login</button>
                                </form>
                                <a id="switchButton" onclick="switchToRegister()">Don't have an account yet?</a>
                            </div>
                        </div>
                    </div>
                    </div>
            {{/if}}
            {{#if isLoggedIn}}
                <div class="dropdown" id="userMenu">
                    <div class="dropdown-trigger">
                        <button class="button is-light is-info" aria-haspopup="true" aria-controls="dropdown-menu2"
                            onclick="toggleDrop();">
                            <span>My Account</span>
                            <span class="icon is-small">
                                <i class="fas fa-angle-down" aria-hidden="true"></i>
                            </span>
                        </button>
                    </div>
                    <div class="dropdown-menu" id="dropdown-menu2" role="menu">
                        <div class="dropdown-content" id="dropdown-content">
                            <div class="dropdown-item">
                                <div class="card">
                                    <div class="card-content">
                                        <icon class="icon is-large" onclick="switchWizard()" id="wizardAvatar">🧙‍♂️
                                        </icon>
                                        <p class="subtitle">{{user}}</p>
                                        <p class="subtitle is-6">Currently logged in</p>
                                        <hr />
                                        <ul>
                                            <li>
                                                <a href="/" class="is-size-6 has-text-dark"><i class="fas fa-home"></i>
                                                    Home</a>
                                            </li>
                                            <li>
                                                <a href="/user" class="is-size-6 has-text-dark"><i
                                                        class="fas fa-user"></i> User Profile </a>
                                            </li>
                                        </ul>
                                        <footer class="card-footer">
                                            <a class="button is-danger card-footer-item" id="switchButton"
                                                href="/api/logout">Logout</a>
                                        </footer>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{#if atForm}}
                        <button class="button is-danger" style="margin-left: 1rem;"><a href="/" style="color:white !important;">Go back</a></button>
                    {{/if}}
                </div>
                </div>
            {{/if}}
                <div class="column is-6">
                    <span class="title titleText">Article Recommender &nbsp; 📰</span><br/>
                    <span class="subtitle subtitleText"><em>CS 340 Intro to Databases,
                            Oregon State University</em></span>
                </div>
            </div>
    </section>
    {{{body}}}
    <script>
        function toggleDrop() {
            var dropdown = document.querySelector('#userMenu');
            dropdown.classList.toggle('is-active');
            document.addEventListener('click', function (e) {
                if (!(dropdown.contains(e.target))) {
                    dropdown.classList.remove('is-active')
                }
            })
        }
        function switchToLogin() {
            var loginLegend = document.querySelector('#loginLegend');
            loginLegend.innerHTML = "<b>Registered Users</b><br/><small style='font-size:small;'><em>Of course I remember you...</em></small>";
            var register = document.querySelector('#register');
            register.setAttribute("action", "/api/login");
            var switchButton = document.querySelector('#switchButton');
            switchButton.textContent = "Don't have an account yet?";
            switchButton.setAttribute("onclick", "switchToRegister()");
            var submit = document.querySelector('#submit');
            submit.textContent = "Login"
            submit.classList.replace("has-background-info", "is-light")
        }
        function switchToRegister() {
            var loginLegend = document.querySelector('#loginLegend');
            loginLegend.innerHTML = "<b>Sign up for the party</b><br/><small style='font-size:small;'><em>We're all in here reading...</em></small>";
            var register = document.querySelector('#register');
            register.setAttribute("action", "/api/register");
            var switchButton = document.querySelector('#switchButton');
            switchButton.textContent = "Already have an account?";
            switchButton.setAttribute("onclick", "switchToLogin()")
            var submit = document.querySelector('#submit');
            submit.textContent = "Sign Up"
            submit.classList.replace("is-light", "has-background-info")
        }
        function switchWizard() {
            var wizard = document.querySelector('#wizardAvatar')
            if (wizard.textContent == "🧙‍♂️") {
                wizard.textContent = "🧙‍♀️"
            }
            else {
                wizard.textContent = "🧙‍♂️"
            }
        }


    </script>