<h1 class="is-size-3 has-text-dark has-text-weight-bold">Article Recommendation App</h1>
<h2 class="is-size-5">Group: The Non-Relational Data Mages</h2>
    <h3 class="is-size-5" style="margin-bottom:30px;">Members: Connor Pollock, Matthew Spencer</h3>

    <h3 class="is-size-3">Pages</h3>
        <a class="subtitle" style="color: #3273dc;" href="/" target="_blank">https://datamages.drab.tech/</a>
        <br/>
        <b>Main page with list of Articles</b>
        <br/>
        <u>Table features:</u>
        <ul class="index-list">
            <li>
                SELECT/INSERT for `ArticleTopics` and `Topics` using <span class="icon"><icon class="fas fa-plus"></icon></span> icon. 
            </li>
            <li>
                SELECT/INSERT for `TopicTopics` (i.e. related topics), linking the original article topic and the newly added topic.
                <ul class="nested-list">
                    <li>
                        Related topics can be viewed in the modal dialog triggered by clicking on a topic tag.
                    </li>
                </ul>
            </li>
            <li>
                Search titles within article database with autocomplete 
                <ul class="nested-list">
                    <li>
                        Uses MySQL's LIKE for fetching titles using <a href="http://pixabay.com">Pixabay.com</a>'s plugin which can be found <a href="https://goodies.pixabay.com/javascript/auto-complete/demo.html">here</a>.
                    </li>
                </ul>
            </li>
            <li>
                Filter by periodical and author (uses SELECT * FROM ... WHERE `Periodicals`.periodicalId IN ... AND `Authors`.authorId IN ...)
            </li>
            <li>
                UPDATE `Articles` using &nbsp;<icon class="fas fa-edit"></icon>&nbsp; icon.
            </li>
        </ul>
        <br/>
        <a class="subtitle" style="color: #3273dc;" href="/user" target="_blank">https://datamages.drab.tech/user</a>
        <br/>
        <b>User page with history of articles read</b>
        <br/>
        <u>Table features:</u>
        <ul class="index-list">
            <li>
                Select from/insert into/delete from `UserTopics` using checklist.
            </li>
            <li>
                Select from/insert into `UserArticles` for previously viewed articles. Updates on duplicate key to give most recent view.
                <ul class="nested-list">
                    <li>`UserArticles` insert is indirect, occurs when user clicks on an article.</li>
                </ul>
            </li>
        </ul>
        <br/>
        <a class="subtitle" style="color: #3273dc;" href="/form" target="_blank">https://datamages.drab.tech/form</a>
        <br/>
        <b>INSERT features for `Articles`, `Authors`, and `Periodicals` tables</b>
        <br/>
        <u>Table features:</u>
        <ul class="index-list">
            <li>
                Insert into `Articles`, `Authors`, and `Periodicals`.
            </li>
            <li>
                Perform multiple-table insert for "full article" (adds to `Articles`, `Periodicals`, `Authors`, and `Topics` tables)
            </li>
        </ul>

    <br />
    <br />
