<h1 class="is-size-3 has-text-dark has-text-weight-bold">Article Recommendation App</h1>
<h2 class="is-size-5">Group: The Non-Relational Data Mages
    <h3 class="is-size-5" style="margin-bottom:30px;">Members: Connor Pollock, Matthew Spencer</h3>

    <h3 class="is-size-3">Pages</h3>
    <dl style="margin-left:20px;">
        <li><a class="subtitle" style="color: #3273dc;" href="/">https://datamages.drab.tech/</a></li>
        <b>Main page with list of Articles</b>
        <br/>
        <u>Table features:</u>
        <ul>
            <li>
                Select from/insert into ArticleTopics and Topics using <icon class="fas fa-plus"></icon> icon. 
            <li>
                Selects/inserts into TopicTopics (i.e. related topics), linking the original article topic and the newly added topic (click a topic tag to view related topics)
            </li>
            </li>
            <li>
                Search the article database with predictive text which uses MySQL LIKE query
            </li>
            <li>
                Filter by periodical and author using SELECT * FROM ... WHERE Periodicals.periodicalId NOT IN ... AND Authors.authorId NOT IN ...
            </li>
        </ul>
        <br/>
        <li><a class="subtitle" style="color: #3273dc;" href="/user">https://datamages.drab.tech/user</a> </li>
        <b>User page with history of Articles read</b>
        <br/>
        <u>Table features:</u>
        <ul>
            <li>
                Select from/insert into/delete from UserTopics using checklist
            </li>
            <li>
                Select from/insert into UserArticles for previously viewed articles. Updates on duplicate key to give most recent view.
            </li>
        </ul>
        <br/>
        <li><a class="subtitle" style="color: #3273dc;" href="/form">https://datamages.drab.tech/form</a></li>
        <b>Add Articles, Authors, and Periodicals</b>
        <br/>
        <u>Table features:</u>
        <ul>
            <li>
                Insert into articles, authors, and periodicals if one so chooses
            </li>
        </ul>
    </dl>

    <br />
    <br />