<span class="title column is-half is-offset-one-quarter titleText">Article Recommender</span>
<span class="subtitle column is-half is-offset-one-quarter subtitleText"><em>A project for CS 340 Intro to Databases,
        Oregon State University</em></span>

<section class="section user-info card">
    <div class="is-parent ">
        <div class="avatar-large">
            <span class="avatar">🧙‍♂️ </span>
            <div class="username">
                <span class="subtitle username">{{user}}</span>
            </div>
        </div>
        <div class="columns">
            <div class="column is-4">
            </div>

            <div class="column is-4">
                <p class="subtitle">My Topics</p>
                <div id="myTopics" class="is-child topics-table"></div>
            </div>

            <div class="column is-4">
            </div>
        </div>
        <div class="columns">

            <div class="column is-2">

            </div>
            <div class="column is-8">
                <p class="subtitle">Article History</p>
                <div class="article-history-container">
                    <div id="userArticleHistoryList" class="user-article-history-list"></div>
                </div>
            </div>
            <div class="column is-2">

            </div>
        </div>

    </div>
</section>
<script src="script.js"></script>
<script src="userScript.js"></script>