<span class="title column is-half is-offset-one-quarter titleText">My Account</span>
<section class="section user-info card">
    <div class="is-parent ">
        <div class="avatar-large">
            <span class="avatar">🧙‍♂️ </span>
            <div class="username">
                <span class="subtitle username">{{user}}</span>
            </div>
        </div>
        <div class="columns">
            <div class="column is-3">
                <p class="title">Edit Topics</p>
                <div id="myTopics" class="is-child topics-table"></div>
            </div>
            <div class="column is-9">
                <p class="title">Article History</p>
                <div class="article-history-container">
                    <div id="userArticleHistoryList" class="user-article-history-list"></div>
                </div>
            </div>
        </div>

    </div>
</section>
<script src="userScript.js"></script>