body {
    font-family: 'Source Serif Pro', 'Roboto Slab', Georgia, 'Times New Roman', Times, serif;
}

.hero-body{
    background-color: rgb(254, 254, 255);
}



#wizardAvatar{
    font-size: 36px;
    cursor: pointer;
}

#noteIcon{
    font-size: 48px;
    user-select: none;
    text-align: center;
    justify-content: center;
}

.dropdown-menu{
    min-width: 18rem;
}

#header{
    display: block;
}

.titleText{
    text-align: center;
    font-size: 3rem;
    font-family: 'Source Serif Pro', 'Roboto Slab', Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
}

.subtitleText{
    text-align: center;
    font-size: 2rem;
    font-family: 'EB Garamond', 'Source Serif Pro', 'Roboto Slab', Georgia, 'Times New Roman', Times, serif
}


#tagline{
    color: rgb(150, 150, 150);
}

#dropdown-menu2 ul li a{
    display: block;
    padding: 10px 0;
    /* margin: 5px 0; */
}
#dropdown-menu2 ul {
    margin-bottom:20px;
}

.avatar-large {
    text-align: center;
    font-size: 120px;
    margin-bottom: 33px;
}
.avatar-large .avatar{
    display: inline-block;
    width: 160px;
    height: 160px;
    background: #b1b2bd;
    border-radius: 80px;
}
.user-info .username {
    margin-top:20px;
}

.table {
    width:100%;
}
.table thead td, .table thead th {
    border-width: 0 0 1px;
}

.user-article-history-list {
    overflow: scroll;
    max-height: 800px;
    margin-bottom: 50px;
}
.user-article-history-list .subtitle {
    margin-bottom: 0.3rem;
}
.user-article-history-list .content {
    margin-bottom: 0.2rem;
    color: #777;
}
.user-article-history-list .last-viewed, .user-article-history-list a {
    margin-right: 10px;
}

.user-article-history-list .subtitle, .user-article-history-list .content {
    display:block;
}
.user-article-history-list ul li {
    border-bottom: 1px solid #ccc;
    padding: 15px 0 15px;
}

#recent-articles{
    font-size: 1rem;
}
