<h1 class="is-size-3 has-text-dark has-text-weight-bold">Article Recommendation App</h1>
<h2 class="is-size-5">Group: The Non-Relational Data Mages
    <h3 class="is-size-5" style="margin-bottom:30px;">Members: Connor Pollock, Matthew Spencer</h3>

    <h3 class="is-size-3">Pages</h3>
    <ol style="margin-left:20px;">
        <li><a href="/">https://datamages.uc.r.appspot.com/</a> Main page with list of Articles</li>
        <li><a href="/user">https://datamages.uc.r.appspot.com/user</a> User page with history of Articles read</li>
    </ol>

    <br />
    <br />

    <h3 class="is-size-3">Notes About the App</h3>
    <ol style="margin-left:20px;">
        <li>We are currently hosting our project outside of the engineering server due to it’s version of node not
            supporting some current features.</li>
        <li>There are 2 main views for our app, ‘/’ and ‘/user’. You can access them from the dropdown menu.</li>
        <li>You must have a valid user session to see everything. You can register a username and then login. Currently
            there is no handling for attempting to register an existing username and it will silently fail. <strong>Make
                sure to register a unique email address to successfully create an account</strong>.</li>
    </ol>